{% layout '2024-CCRS-VCMconference/index',
  lang: 'en',
  urlBase: '../',
  altLangLabel: '中文',
  altLangUrl: '../'
%}

{% block jumbotron %}
    <section class="tc-section-jumbotron">
      <div class="tc-jumbotron">
        <div class="container">
          <span class="tc-jumbotron__tag h5"
            data-sal="slide-up" data-sal-delay="200" data-sal-duration="800">
            2024 International Conference
          </span>
          <h1 class="tc-jumbotron__title tc-jumbotron__title--alt display-3"
            data-sal="slide-up" data-sal-delay="300" data-sal-duration="800">
            Integrity & Sustainability In
          </h1>
          <h1 class="tc-jumbotron__title tc-jumbotron__capped display-5"
            data-sal="slide-up" data-sal-delay="400" data-sal-duration="800">
            Voluntary Carbon Market
          </h1>
          <time class="tc-jumbotron__subtitle d-block fs-3 fw-bold" datetime="2024-05-28 09:00:00+0800"
            data-sal="slide-up" data-sal-delay="500" data-sal-duration="800">
            Tuesday  ‧  28 May 2024  ‧
            <span class="text-nowrap">09:00 &ndash; 17:00</span>
          </time>
          <p class="tc-jumbotron__content"
            data-sal="slide-up" data-sal-delay="600" data-sal-duration="800">
            Taiwan is undertaking the crucial process of establishing its domestic carbon pricing system to strengthen its climate policy.<br><br>
            This conference is a unique opportunity for experts and scholars, both at home and abroad, to delve into the issues of integrity and sustainability in the voluntary carbon market.<br><br>
            Through knowledge and experience sharing, we aim to ignite a transformative dialogue that will help build stronger foundations for the Taiwanese system.
          </p>
        </div>
      </div>
    </section>
{% endblock %}

{% block agenda %}
<table class="table tc-agenda-table fs-5" data-sal="zoom-in">
  <tbody>
    <tr><th>09:00 - 09:10</th><th>10 mins</th>
      <td>
        <span class="tc-agenda-table__title">Welcome Remarks</span>
      </td>
    </tr>
    <tr><th>09:10 - 09:25</th><th>15 mins</th>
      <td>
        <span class="tc-agenda-table__title">Opening Remarks</span>
      </td>
    </tr>
    <tr><th>09:25 - 09:30</th><th>05 mins</th>
      <td>
        <span class="tc-agenda-table__title">Photo Ops</span>
      </td>
    </tr>
    <tr><th>09:30 - 10:00</th><th>30 mins</th>
      <td>
        <span class="tc-agenda-table__label">Invited Speech</span>
        <span class="tc-agenda-table__title">TBA</span>
        <div class="tc-agenda-table__speaker">
          <span class="tc-agenda-table__name">TBA</span>
          <span class="tc-agenda-table__job-title"></span>
        </div>
      </td>
    </tr>
    <tr><th>10:00 - 10:10</th><th>10 mins</th>
      <td>
        <span class="tc-agenda-table__title">Coffee Break</span>
      </td>
    </tr>
    <tr><th>10:10 - 11:20</th><th>70 mins</th>
      <td>
        <span class="tc-agenda-table__label">Keynote Address #1</span>
        <span class="tc-agenda-table__title">Developing Domestic Carbon Crediting Programs: Considerations that Inform Credit Quality</span>
        <div class="tc-agenda-table__speaker">
          <span class="tc-agenda-table__name">Tani Colbert-Sangree</span>
          <span class="tc-agenda-table__job-title">GHG Management Institute, Project Manager.</span>
        </div>
      </td>
    </tr>
    <tr><th>11:20 - 12:30</th><th>70 mins</th>
      <td>
        <span class="tc-agenda-table__label">Keynote Address #2</span>
        <span class="tc-agenda-table__title">Convergence of the Compliance and Voluntary Credit Markets</span>
        <div class="tc-agenda-table__speaker">
          <span class="tc-agenda-table__name">Fundile Maphanga</span>
          <span class="tc-agenda-table__job-title">AlliedOffsets, Carbon Policy Analyst.</span>
        </div>
      </td>
    </tr>
    <tr><th>12:30 - 13:30</th><th>60 mins</th>
      <td>
        <span class="tc-agenda-table__title">Lunch</span>
      </td>
    </tr>
    <tr><th>13:30 - 15:00</th><th>90 mins</th>
      <td>
        <span class="tc-agenda-table__label">Panel Discussion #1</span>
        <span class="tc-agenda-table__title">Ensuring the Integrity of Voluntary Carbon Markets</span>

        <span class="tc-agenda-table__speaker-section">[Moderator]</span>
        <div class="tc-agenda-table__speaker tc-agenda-table__speaker--inline">
          <span class="tc-agenda-table__name">Hung-Jeng Tsai</span>
          <span class="tc-agenda-table__job-title">Center of Carbon Research and Solutions, Director.</span>
        </div>

        <span class="tc-agenda-table__speaker-section">[Panelists]</span>
        <div class="tc-agenda-table__speaker tc-agenda-table__speaker--inline">
          <span class="tc-agenda-table__name">Brad Weilbacher</span>
          <span class="tc-agenda-table__job-title">AlliedOffsets, Enterprise Sales Lead.</span>
        </div>
        <div class="tc-agenda-table__speaker tc-agenda-table__speaker--inline">
          <span class="tc-agenda-table__name">Colin SNG</span>
          <span class="tc-agenda-table__job-title">BeZero, Head of Sales APAC.</span>
        </div>
        <div class="tc-agenda-table__speaker tc-agenda-table__speaker--inline">
          <span class="tc-agenda-table__name">Louis Booth</span>
          <span class="tc-agenda-table__job-title">Sylvera, APAC Commercial Lead.</span>
        </div>
      </td>
    </tr>
    <tr><th>15:00 - 15:15</th><th>15 mins</th>
      <td>
        <span class="tc-agenda-table__title">Coffee Break</span>
      </td>
    </tr>
    <tr><th>15:15 - 16:45</th><th>90 mins</th>
      <td>
        <span class="tc-agenda-table__label">Panel Discussion #2</span>
        <span class="tc-agenda-table__title">The Applicability of Carbon Credits in Taiwan</span>

        <span class="tc-agenda-table__speaker-section">[Moderator]</span>
        <div class="tc-agenda-table__speaker tc-agenda-table__speaker--inline">
          <span class="tc-agenda-table__name">Sun-Han Hung</span>
          <span class="tc-agenda-table__job-title">Legislator of Taiwan.</span>
        </div>

        <span class="tc-agenda-table__speaker-section">[Panelists]</span>
        <div class="tc-agenda-table__speaker tc-agenda-table__speaker--inline">
          <span class="tc-agenda-table__name">John Chung-En Liu</span>
          <span class="tc-agenda-table__job-title">National Taiwan University, Associate Professor.</span>
        </div>
        <div class="tc-agenda-table__speaker tc-agenda-table__speaker--inline">
          <span class="tc-agenda-table__name">Tani Colbert-Sangree</span>
          <span class="tc-agenda-table__job-title">GHG Management Institute, Project Manager.</span>
        </div>
        <div class="tc-agenda-table__speaker tc-agenda-table__speaker--inline">
          <span class="tc-agenda-table__name">Joshua Tien</span>
          <span class="tc-agenda-table__job-title">Taiwan Carbon Solution Exchange, CEO.</span>
        </div>
      </td>
    </tr>
    <tr><th>16:45 - 17:00</th><th>15 mins</th>
      <td>
        <span class="tc-agenda-table__title">Closing Remarks</span>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
