:root {
  --bs-font-sans-serif: "Noto Sans TC", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --bs-primary: #254370;
  --bs-primary-rgb: 37, 67, 112;
  --bs-secondary: #58bca5;
  --bs-secondary-rgb: 88, 188, 165;
  --bs-info: #3b9bd4;
  --bs-info-rgb: 59, 155, 212;
  --bs-success: #4bacc8;
  --bs-success-rgb: 75, 172, 200;
  --bs-warning: #7c5840; /*#956f29;*/
  --bs-warning-rgb: 149, 111, 41;

  --bs-teal: #00495c;

  --bs-body-line-height: 1.75;

  --tc-section-padding-top: 10rem;
  --tc-section-padding-bottom: 12rem;
}

@media (max-width: 767px) {
  :root {
    --tc-section-padding-top: 6rem;
    --tc-section-padding-bottom: 6rem;
  }
}

.navbar {
  --bs-navbar-nav-link-padding-y: 0.75rem;
  --bs-navbar-nav-link-padding-x: 1.25rem;
}

.navbar > .container {
  background-color: #fff6;
  border-radius: 0.5rem;
  backdrop-filter: blur(12px);
}

.navbar-brand img {
  max-height: 3rem;
}

.navbar .nav-link {
  border-radius: 100rem;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  background-color: var(--bs-secondary);
}

.navbar .navbar-toggler {
  height: 3rem;
  border: none;
}

/************************************************
 * Section General
 ************************************************/

.tc-section-header {
  --section-title-color: #fff;
  --section-subtitle-color: var(--bs-info);
  --section-title-brick-color: var(--bs-info);
  --section-title-shadow: 0 4px 3px #0003, 0 2px 2px #0006;
}

.tc-section-header__title {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.25rem;
  color: var(--section-title-color);
  text-shadow: var(--section-title-shadow);
}

.tc-section-header__title::before,
.tc-section-header__title::after {
  display: inline-block;
  content: "";
  order: -1;
  width: 1em;
  height: 1em;
  margin: 0.15em 0.15em 0;
  background-color: var(--section-title-brick-color);
}

.tc-section-header__subtitle {
  display: flex;
  flex-direction: row;
  color: var(--section-subtitle-color);
}
.tc-section-header__subtitle::after {
  display: inline-block;
  content: "";
  order: -1;
  width: 1em;
  height: 1em;
  margin: 0.15em 0.15em 0;
  border-bottom-left-radius: 100rem;
  background-color: var(--section-title-brick-color);
}


.tc-section-header--right {
  text-align: right;
}

.tc-section-header--right .tc-section-header__title,
.tc-section-header--right .tc-section-header__subtitle {
  justify-content: end;
}

.tc-section-header--right .tc-section-header__title::before,
.tc-section-header--right .tc-section-header__title::after {
  order: 1;
}

.tc-section-header--right .tc-section-header__subtitle::after {
  order: 1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 100rem;
}

.tc-section-header--center {
  text-align: center;
}

.tc-section-header--center .tc-section-header__title,
.tc-section-header--center .tc-section-header__subtitle {
  justify-content: center;
}

.tc-section-header--center .tc-section-header__title::before,
.tc-section-header--center .tc-section-header__title::after {
  display: none;
}

.tc-section-header--center .tc-section-header__subtitle::after {
  display: none;
}

/************************************************
 * Jumbotron Section
 ************************************************/

.tc-section-jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--tc-section-padding-top);
  padding-bottom: var(--tc-section-padding-bottom);
  background-image: linear-gradient(to bottom, transparent 0%, #3b9bd433 50%), url('../img/banner1.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  overflow: hidden; /* Hide leave in title */
}

.tc-jumbotron__tag {
  display: inline-block;
  padding: 0.5rem 3rem;
  margin-bottom: 2.5rem;
  background-color: var(--bs-secondary);
  border-radius: 0 50rem;
}

.tc-jumbotron__title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-family: "Instrument Sans", "Noto Sans TC", system-ui, sans-serif;
  font-weight: 700;
  text-shadow: 0 20px 13px #0003, 0 6px 5px #0006, 0 0 2px var(--bs-primary);
}
.tc-jumbotron__title--alt {
  position: relative;
  margin-bottom: 0.5rem;
  color: var(--bs-primary);
  text-shadow: 0 0 4px #fff, 0 0 8px #fffc;
  z-index: 1;
}
.tc-jumbotron__title--alt::before {
  display: block;
  content: "";
  position: absolute;
  right: -3rem;
  bottom: 0;
  width: 6rem;
  height: 6rem;
  border: 2px solid #fff;
  border-radius: 6rem 0;
  z-index: -1;
}
.tc-jumbotron__capped {
  text-transform: uppercase;
}

.tc-jumbotron__subtitle {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-shadow: 0 4px 3px #0003, 0 2px 2px #0006, 0 0 2px var(--bs-primary);
}

.tc-jumbotron__content {
  text-shadow: 0 4px 3px #0003, 0 2px 2px #0006, 0 0 2px var(--bs-primary);
}

/************************************************
 * Speakers Section
 ************************************************/

.tc-section-speakers {
  padding-top: var(--tc-section-padding-top);
  padding-bottom: var(--tc-section-padding-bottom);
  background-image: radial-gradient(circle at center -50%, #fff6 0%, transparent 80%), linear-gradient(100deg, #16548a 30%, #124981 30%, #124981 45%, #104277 45%);
  color: #fff;
  overflow: hidden;
}

.tc-speakers {
}

.tc-speaker {
  position: relative;
  padding: 1rem;
  margin-top: 4rem;
  background-color: #343a4099;
  box-shadow: 0 20px 13px #0001, 0 6px 5px #0003;
}

.tc-speaker__card {
  position: relative;
  margin: -1rem -1rem 1rem -1rem;
  aspect-ratio: 3 / 4;
  background-color: var(--bs-info);
}

.tc-speaker__label {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  padding: 0.125rem 1.5rem 0.125rem 0.75rem;
  border-top-right-radius: 100rem;
  background-color: #fff;
  color: var(--bs-primary);
}

.tc-speaker__open-icon {
  position: absolute;
  right: 0;
  bottom: -3rem;
  width: 6rem;
  height: 6rem;
  color: #e6b422;
  transition: 0.15s all;
}
.tc-speaker:hover .tc-speaker__open-icon,
.tc-speaker:focus .tc-speaker__open-icon {
  right: -0.5rem;
  bottom: -2.5rem;
}

.tc-speaker__title {
  margin-bottom: 0.75rem;
  color: var(--bs-gray-200);
}
/* .tc-speaker__title::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  border-radius: 0 100rem;
  background-color: currentColor;
} */
.tc-speaker__job-title {
  margin-bottom: 0.75rem;
  color: var(--bs-secondary);
}
.tc-speaker__name {
  margin-bottom: 0;
  text-shadow: 0 4px 3px #0003, 0 2px 2px #0006, 0 0 2px var(--bs-primary);
}
.tc-speaker__name a {
  text-decoration: none;
}

.tc-speaker-modal {
  --bs-modal-border-radius: 0;
  --bs-modal-border-width: 0;
  --bs-modal-padding: 0 2rem 2rem 2rem;
  --bs-modal-bg: var(--bs-primary);
}

.tc-speaker-modal .btn-close {
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  --bs-btn-close-opacity: 0.75;
  --bs-btn-close-hover-opacity: 1;

  display: block;
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  background-size: 1.75rem;
  /* color: #fff; */
}

.tc-speaker-modal .modal-content {
  box-shadow: 0 20px 13px #0001, 0 6px 5px #0003;
}

.tc-speaker-modal__body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.tc-speaker-modal__body .tc-speaker__card {
  flex-shrink: 0;
  width: 16rem;
  margin: 0;
}

.tc-speaker__content {
  color: #fff;
}

/************************************************
 * Agenda Section
 ************************************************/

.tc-section-agenda {
  padding-top: var(--tc-section-padding-top);
  padding-bottom: var(--tc-section-padding-bottom);
  background-image: radial-gradient(circle at center -50%, #fff 0%, transparent 80%), linear-gradient(to bottom, #ace1ff, #ace1ffcc), url('../img/city.png');
  background-size: cover, cover, contain;
  background-position: center, center, bottom center;
  background-repeat: no-repeat;
  color: var(--bs-primary);
  overflow: hidden;
}
.tc-section-agenda .tc-section-header {
  --section-title-color: var(--bs-primary);
  --section-title-shadow: 0 4px 3px #6663, 0 2px 2px #6666;
}

.tc-agenda-table {
  --bs-table-bg: #fff3;
  --bs-table-border-color: #fff;
  --bs-table-color: var(--bs-primary);

  margin-top: 4rem;
  border: 1px solid #fff;
  backdrop-filter: blur(12px);
}

.tc-agenda-table > :not(caption) > * > * {
  padding: 1rem 1rem;
}

.tc-agenda-table th:nth-of-type(1) {
  width: 12rem;
  text-align: center;
  vertical-align: middle;
}
.tc-agenda-table th:nth-of-type(2) {
  width: 10rem;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  font-size: 1rem;
}

.tc-agenda-table__label {
  display: inline-block;
  padding: 0 1rem;
  margin-right: 0.5rem;
  border-radius: 0 1rem;
  background-color: var(--bs-secondary);
  color: #fff;
  font-size: 0.875em;
}

.tc-agenda-table__title {
  font-weight: bold;
}

.tc-agenda-table__speaker {
  color: var(--bs-warning);
  font-weight: 500;
}

.tc-agenda__caption {
  margin-top: 4rem;
  text-align: center;
}

@media (max-width: 767px) {
  .tc-agenda-table > :not(caption) > * > * {
    padding: 0 1rem;
  }

  .tc-agenda-table th:nth-of-type(1) {
    display: inline-block;
    width: 75%;
    height: 4rem;
    border-bottom: none;
    text-align: left;
    line-height: 4rem;
  }
  .tc-agenda-table th:nth-of-type(2) {
    display: inline-block;
    width: 25%;
    height: 4rem;
    border-top: none;
    border-bottom: none;
    text-align: right;
    line-height: 4rem;
  }

  .tc-agenda-table td {
    display: block;
    border-top: none;
    padding-bottom: 1rem;
  }
}

/************************************************
 * Articles Section
 ************************************************/

.tc-section-articles {
  padding-top: var(--tc-section-padding-top);
  padding-bottom: var(--tc-section-padding-bottom);
  background-image: linear-gradient(to bottom left, #0a5267dd, #07806cdd), url('../img/landscape.png');
  background-position: center, center bottom;
  background-size: contain, cover;
  background-repeat: no-repeat;
  color: var(--bs-success);
  overflow: hidden;
}
.tc-section-articles .tc-section-header {
  --section-subtitle-color: var(--bs-success);
  --section-title-brick-color: var(--bs-success);
}

.tc-articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  column-gap: 2rem;
  row-gap: 4rem;
  margin-top: 4rem;
}

.tc-article {
  position: relative;
  padding: 1rem 1.5rem;
  background-color: var(--bs-teal);
  box-shadow: 0 20px 13px #0001, 0 6px 5px #0003;
}

.tc-article__image {
  aspect-ratio: 16 / 9;
  margin: -1rem -1.5rem 1rem -1.5rem;
  background-color: var(--bs-success);
}

.tc-article__time {
  display: block;
  margin-bottom: 0.25rem;
  color: var(--bs-gray-200);
}

.tc-article__title a {
  text-decoration: none;
}

/************************************************
 * Organizers Section
 ************************************************/

.tc-section-organizers {
  padding-top: calc(var(--tc-section-padding-top) / 2);
  padding-bottom: calc(var(--tc-section-padding-bottom) / 2);
  background-color: var(--bs-light);
  overflow: hidden;
}

.tc-organizer-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
}
.tc-organizer-list + .tc-organizer-list {
  margin-top: 2rem;
}

.tc-organizer-list__item {
  display: inline-block;
  max-width: 20%;
}

.tc-organizer-list__logo {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 767px) {
  .tc-organizer-list {
    flex-direction: column;
    text-align: center;
  }

  .tc-organizer-list__item {
    max-width: 280px;
    margin-bottom: 2rem;
  }
}

/************************************************
 * Footer
 ************************************************/

.tc-footer {
  padding-top: calc(var(--tc-section-padding-top) / 2);
  padding-bottom: calc(var(--tc-section-padding-bottom) / 2);
  background-color: var(--bs-gray-200);
  color: var(--bs-gray-700);
  overflow: hidden;
}

.tc-footer__logo img {
  max-height: 4rem;
  max-width: 100%;
}

.tc-footer .list-unstyled svg {
  width: 1.25em;
  height: 1.25em;
  margin-top: -3px;
  margin-right: 0.5rem;
  color: var(--bs-gray-600);
}

.tc-footer .list-inline svg {
  width: 2rem;
  height: 2rem;
  color: var(--bs-gray-600);
}